body {
  font-family: Arial, sans-serif;
}
.app-shell{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main{
  flex: 1;
  display: flex;
}

.app-main > *{
  flex: 1;     /* IMPORTANT: makes About fill app-main */
}

